/**
 * @File        : app.css
 * @Author(s)   : Michael Brouchoud, Thomas Lechaire, Alexandre Mosca & Lenny Aebischer
 * @Date        : 14.11.2018
 *
 * @Goal        : CSS
 *
 * @Comment(s)  : -
 */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body.public {
    background-image: linear-gradient(to right, #0086c3 , #29b6f6);
}

.public .content-wrapper {
    height: 100%;
}
